@using WebsiteForAltanEmuce.Models.EntityFramework
@model List<Admin>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Admin</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Kullanıcı Adı</th>
                        <th>Sil</th>
                        <th>Düzenle </th>
                        <th></th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Id</th>
                        <th>Kullanıcı Adı</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var admin in Model)
                    {
                        <tr>
                            <td>@admin.Adminid</td>
                            <td>@admin.Adminname</td>
                          
                            <td>  <a href="/Admin/DeleteAdmin/@admin.Adminid" class="btn btn-danger btn-sm">Sil</a></td>
                            <td><a href="/Admin/GetAdmin/@admin.Adminid" class="btn btn-warning btn-sm">Düzenle</a></td>
                            <td></td>
                        </tr>

                    }
                </tbody>
            </table>
        </div>
        <a href="/Admin/AddAdmin/" class="btn btn-primary btn-lg">Yeni Admin Ekle</a>
    </div>

</div>

